.chatWindow {
  padding: 5px 10px;
  position: relative;
  bottom: -200px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
      padding: 5px;
      font-size: 30px;
      float: left;
      cursor: pointer;
    }
  }

  .body {
    .messageList {
      height: 550px;
      width: 100%;
      overflow: scroll;
      display: flex;
      flex-direction: column;

      .viewMore {
        outline: none;
        border: none;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .inputField {
      width: 100%;
      position: fixed;
      bottom: 20px;

      input {
        outline: none;
        width: 80%;
        font-size: 18px;
        padding: 5px 10px;
      }

      button {
        outline: none;
        border: none;
        background-image: linear-gradient(45deg, #7f00ff, #e100ff);
        transition: 0.2s linear;
        color: #fff;
        font-size: 18px;
        padding: 7px 15px;
        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }

        &:disabled {
          background-image: unset;
          background-color: #adadad;
        }
      }
    }
  }
}
